        /*body{
            text-align: center;
        }*/
        .a{ 
            display:table;
            width:100%;
            height:auto;
            background:#f00
        }
        /*页面留白*/
        .b{
            
            width:1200px;
            display:inline-block !important;
            display:inline; 
        }
        h1{
            text-align: center;
            color: #D0D0D0;
            font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
        }
        p{
            text-indent: 3em;
            color:#D0D0D0;
            font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
        }
        h2{
            color: #D0D0D0;
            font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
        }
        p{
            speak:normal;
            azimuth:center;
            elevation:level;
            voice-family:male;
            richness:80;
            pitch:high;
            cue-before:url("http://www.kugou.com/song/1psx6a0.html?from_sogou#hash=787F4B9DD4AE9AFACDC661CBC4A958BB&album_id=0");
        }
        footer{
            color: #D0D0D0;
        }