/*        body{
            background-image:url("../picture/p3.jpg");
            background-repeat:no-repeat;
            background-attachment: fixed;
            
        }
*/

      /*  #bg-image{   
    		position:absolute;   
    		top:0;   
    		left:0;   
    		height:100%;   
   			width:100%;
    		z-index:-9;     
		}   
		#bg-image img{
			width:100%;
		}*/
        h1{
            text-align: center;
        }
        p{
            text-indent: 2em;
        }