        .header a{
            color:#000;
            border:0;
            text-decoration:none;
        }
  		.header{
            position: relative;
            width: 100%;
            height: 100px;
        } 
        .header nav{
            position: fixed;
            left: 0;
            top:0;
            width: 100%;
            margin: 0;
            text-align: center;
            background-color: #93FF93;
            opacity: 0.5; 
        }
		.header nav ul,.header nav ul li{
            display: inline-block;
            float: left;
            margin-left: 80px;
            font-size: 1em;
            color:black;
            list-style-type:none; 
		}
		.contain{
			width: 24em;
			height: 3em;
		}
		.time{
			width: 5em;
			height: 3em;
		}
		table tr td,th{
        /*font-size: 1.5em;*/
        color: black;
        border-bottom: 1px dotted black;
    }