	@keyframes myfirst{
		    0% {background: #FF0000;}
		    20% {background: #FF8000;}
		    30% {background: #FFD306;}
		    40% {background: #F9F900;}
		    60% {background: #8CEA00;}
		    80% {background: #00EC00;}
		    90% {background: #0066CC;}
		    100% {background: #6F00D2;}
		}
		 
		@-webkit-keyframes myfirst {
		    0% {background: #FF0000;}
		    20% {background: #FF8000;}
		    30% {background: #FFD306;}
		    40% {background: #F9F900;}
		    60% {background: #8CEA00;}
		    80% {background: #00EC00;}
		    90% {background: #0066CC;}
		    100% {background: #6F00D2;}
		}


	body{
        background-image:url("../picture/p2.jpg");
        background-repeat:no-repeat;
        background-attachment: fixed;       
    }
	fieldset{
		border: 5px solid #796400;
		padding:10px;
		width: 960px;
	}
	span{
		display: inline-block;
	}
	label{
		color: #D0D0D0;
		display: inline-block;
		font-weight: bold;
		font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
	}
	.small{
		width: 6em;
	}
	.word{
		width: 14em;
	}
	.wi{
		margin-left: 4em;
		margin-right: 3em;
	}
	.mi{
		margin-left: 4em;
		margin-bottom: 1em;
	}
	.fai{
		margin-left: 4em;
	}
	.large{
		width: 12em;
	}
	.ideal{
		margin-left: 4em;
	}
	.ideal2{
		margin-left: 6em;
	}
	.last{
		margin-top: 1em;
		margin-left: 7em;
		margin-right: 5em;
		width: 10em;
		height: 3em;
		font-weight:bold;
		font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
		font-size: 0.7em; 
		color: #796400;
		/*3D转换*/
		transition: border-radius 1s;
		-webkit-transition: border-radius 1s;

		
	}
	.last:hover{
		border-radius: 15px;
	}
	.seco{
		transition: border-radius 1s;
		-webkit-transition: border-radius 1s;
		transition: color 1s;
		-webkit-transition: color 1s;
	}
	.seco:hover{
		border-radius: 15px;
		color: #0072E3;
	}
	h2,legend{
		font-weight: bold;
		font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
		
	}
	a{
		color: #D0D0D0;
		font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
	}
	textarea{
		border-radius: 20px;
		box-shadow: 10px 10px 5px #D0D0D0;
		animation: myfirst 30s;
    	-webkit-animation: myfirst 30s;
	}
	h2{
		text-shadow: 5px 5px 5px #796400;
	}
	li{
		margin-left: 2em;
	}
	