	body{
        background-image:url("../picture/form.jpg");
        background-repeat:no-repeat;
        background-attachment: fixed;       
    }
	fieldset{
		border: 10px solid #796400;
		width: 960px;
	}
	span{
		display: inline-block;
	}
	label{
		display: inline-block;
		font-weight: bold;
		font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
	}
	.small{
		width: 6em;
	}
	.word{
		width: 14em;
	}
	.wi{
		margin-left: 4em;
		margin-right: 3em;
	}
	.mi{
		margin-left: 4em;
		margin-bottom: 1em;
	}
	.fai{
		margin-left: 4em;
	}
	.large{
		width: 12em;
	}
	.ideal{
		margin-left: 4em;
	}
	.ideal2{
		margin-left: 6em;
	}
	.last{
		margin-top: 1em;
		margin-left: 11em;
		margin-right: 12em;
		width: 10em;
		height: 3em;
		font-weight:bold;
		font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
		font-size: 0.7em; 
		color: #796400;
		/*3D转换*/
		transition: border-radius 1s;
		-webkit-transition: border-radius 1s;
	}
	.last:hover{
		border-radius: 15px;
	}
	.seco{
		transition: border-radius 1s;
		-webkit-transition: border-radius 1s;
		transition: color 1s;
		-webkit-transition: color 1s;
	}
	.seco:hover{
		border-radius: 15px;
		color: #0072E3;
	}
	h2,legend{
		font-weight: bold;
		font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
		
	}
	a{
		color: #D0D0D0;
		font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
	}
	textarea{
		border-radius: 20px;
	}
	