@media  (max-width:300px ){
	body{
        background-color: red;
        /*background-image: none;
            */
    }
	fieldset{
		border: 5px solid #796400;
		width: 600px;
	}
	span{
		display: inline-block;
	}
	label{
		display: inline-block;
		font-weight: bold;
		font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
	}
	.small{
		width: 3em;
	}
	.word{
		width: 7em;
	}
	.wi{
		margin-left: 2em;
		margin-right: 1.5em;
	}
	.mi{
		margin-left: 2em;
		margin-bottom: 0.5em;
	}
	.fai{
		margin-left: 2em;
	}
	.large{
		width: 6em;
	}
	.ideal{
		margin-left: 2em;
	}
	.ideal2{
		margin-left: 2em;
	}
	.last{
		margin-top: 0.5em;
		margin-left: 5.5em;
		margin-right: 6em;
		width: 5em;
		height: 1.5em;
		font-weight:bold;
		font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
		font-size: 0.35em; 
		color: #796400;
		/*3D转换*/
		transition: border-radius 1s;
		-webkit-transition: border-radius 1s;
	}
	.last:hover{
		border-radius: 7px;
	}
	.seco{
		transition: border-radius 1s;
		-webkit-transition: border-radius 1s;
		transition: color 1s;
		-webkit-transition: color 1s;
	}
	.seco:hover{
		border-radius: 7px;
		color: #0072E3;
	}
	h2,legend{
		font-weight: bold;
		font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
		
	}
	a{
		color: #D0D0D0;
		font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
	}
	textarea{
		border-radius: 10px;
	}
}